.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logol {
    color: #2E2F42;
}
.navigation a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
    }

.navigation .link:hover,
.navigation .link:focus
{
    color: #404BBF;
    text-decoration: none;
}

.navigation .link:active {
   color: #404BBF;
   text-decoration: underline;
}

.address {
    font-style: normal;
}

.contacts a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        color: #434455;
        text-decoration: none;
        letter-spacing: 0.02em;

}

.contacts .link:hover,
.contacts .link:focus
{
    color: #404BBF;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.openingh {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.opening {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-align: center;
        color: #FFFFFF;
        background-color: #2E2F42;
}
.button {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #FFFFFF;
        background-color: #4D5AE5;
        cursor: pointer;
        letter-spacing: 0.04em;
}

.button:hover,
.button:focus
{
    background-color: #404BBF;
}

.teamh {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}



.teamp {
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}

.contenth {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}

.teamul {
    background-color: #FFFFFF;
}

.footer {
    background-color: #2E2F42;

}

.footerp {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.logolf {
    color: #F4F4FD;
}